


    body {
        /* background: #f2edea; */
        height: 100vh;
        background: linear-gradient(90deg, #f2edea 15px, transparent 1%) center, linear-gradient(#f2edea 15px, transparent 1%) center, #795548;
        background-size: 16px 16px;
        box-sizing: border-box;
        color: #333;
    }

    nav {
        background-color: #fbfbfb;
        font-family: 'Alegreya Sans SC';
        margin: 25px;
        border-radius: 8px;
        padding: 14px 5px;
        box-shadow: 3px 3px 0 0 rgb(240 199 94 / 57%);

    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header {
        position: relative;
    }

    .header__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .header__image {
        content: url(https://i.ibb.co/Svwhxk9/cz-Nmcy1wcml2-YXRl-L3-Jhd3-Bpe-GVs-X2lt-YWdlcy93-ZWJza-XRl-X2-Nvbn-Rlbn-Qvb-HIvcm00-Nz-Ut-Zn-Jhb-WUt.png);
        width: 10rem;
        background-position: center;
        background-size: cover;
    }

    h1 {
        font: 4.5rem "Lobster";
        text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;
        color: #333;
        margin-right: -4rem;
        top: 1rem;
        position: relative;
    }

    .section_notes {
        /* font-family: "Gochi Hand"; */
        font-family: "Alegreya sans Sc";
        margin-top: 4.5rem;
        padding: 0 3rem;
        display: grid;
    }

    .notes {
        border: 2px solid #111;
        border-width: 0 2px 2px;
        position: relative;
        /*     grid-area: "notes"; */
    }

    .notes span {
        display: block;
        margin: -25px 22px;
        font: 3rem "Lobster", cursive;
        text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 #F0C75E;
    }

    .notes span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 0;
        left: 0;
        background: #111;
        background: linear-gradient(to right, #111 15px, transparent 15px, transparent 140px, #111 95px);
    }

    .notes__list {
        margin-top: 24px;
        padding: 10px;
        line-height: 1.2;
    }

    .section_carres {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .block {
        height: 20px;
        width: 20px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        position: relative;
        bottom: 1rem;
        border-radius: 100%;
    }

    .block--yellow1 {
        background-color: #ECB939;
        margin-right: 2.5rem;
    }

    .block--yellow2 {
        background-color: #F0C75E;
        margin-right: 2.5rem;
    }

    .block--grey {
        background-color: #726255;
        margin-right: 2.5rem;
    }

    .block--black1 {
        background-color: #372E29;
        margin-right: 2.5rem;
    }

    .block--black2 {
        background-color: #000000;
    }



    /* PORTFOLIO */

    .portfolio {
        margin: 0 35px;
    }

    .portfolio_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        grid-gap: 25px;
        margin: 25px 0;
    }

    .portfolio_card {
        position: relative;
        margin-top: 1rem;
    }

    .portfolio_polaroid {
        width: 100%;
        padding: 8px;
        border: 1px solid #eee;
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        border: 1.5px solid #37353f;
        border-radius: 1px 1px 125px 3px/10px 85px 5px 55px;
        transition: .2s ease;
        transform: rotate(1.5deg);
    }

    .portfolio-card_image-src {
        position: absolute;
        left: 15px;
        top: 120px;
        cursor: default;
        display: contents;
    }

    .portfolio-card img {
        height: 180px;
        object-fit: cover;
        margin-bottom: 5px;
    }

    img {
        width: 100%;
    }

    .bucket-card__projet {
        flex: 1;
        text-align: center;
        font-family: "Gochi Hand";
        margin-top: 2px;
      }

      @media (max-width:576px) {
}