@media (max-width:576px) {


    body {
        /* background: #f2edea; */
        height: 100vh;
        background: linear-gradient(90deg, #f2edea 15px, transparent 1%) center, linear-gradient(#f2edea 15px, transparent 1%) center, #795548;
        background-size: 16px 16px;
        box-sizing: border-box;
        color: #333;
    }

    nav {
        background-color: #fbfbfb;
        font-family: 'Alegreya Sans SC';
        margin: 25px;
        border-radius: 8px;
        padding: 14px 5px;
        box-shadow: 3px 3px 0 0 rgb(240 199 94 / 57%);

    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header {
        margin-top: 3.5rem;
        position: relative;
    }

    .header__container {
        /*height 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__image {
        content: url(https://i.ibb.co/Svwhxk9/cz-Nmcy1wcml2-YXRl-L3-Jhd3-Bpe-GVs-X2lt-YWdlcy93-ZWJza-XRl-X2-Nvbn-Rlbn-Qvb-HIvcm00-Nz-Ut-Zn-Jhb-WUt.png);
        width: 30%;
        background-position: center;
        background-size: cover;
    }

    h1 {
        font: 4.5rem "Lobster", cursive;
        text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;
        margin: 0;
        color: #333;
        font-family: 'Gochi Hand';
    }

    .section_notes {
        font-family: "Gochi Hand";
        margin-top: 4.5rem;
        padding: 0 3rem;
        display: grid;
    }

    .notes {
        border: 2px solid #111;
        border-width: 0 2px 2px;
        position: relative;
        /*     grid-area: "notes"; */
    }

    .notes span {
        display: block;
        margin: -25px 22px;
        font: 3rem "Lobster", cursive;
        text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 #F0C75E;
    }

    .notes span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 0;
        left: 0;
        background: #111;
        background: linear-gradient(to right, #111 15px, transparent 15px, transparent 140px, #111 95px);
    }

    .notes__list {
        margin-top: 24px;
        padding: 10px;
        line-height: 1.2;
    }

    .section__littlebackground {
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
        height: 20px;
    }

    .block {
        height: 40px;
        width: 40px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        position: relative;
        bottom: 1rem;
        border-radius: 5px;
    }

    .block--yellow1 {
        background-color: #ECB939;
        margin-right: 2.5rem;
    }

    .block--yellow2 {
        background-color: #F0C75E;
        margin-right: 2.5rem;
    }

    .block--grey {
        background-color: #726255;
        margin-right: 2.5rem;
    }

    .block--black1 {
        background-color: #372E29;
        margin-right: 2.5rem;
    }

    .block--black2 {
        background-color: #000000;
    }

    .section_carres {

        margin-top: 4.5rem;
        position: relative
    }




}